# Endpoint del webhook de n8n para reservas
#ESTE ENDPOINT ES EL DE WHATSAPP DE MOMENTO USAMOS SMS HASTA QUE ACTTIVEMOS WHATSAPP BUSSINESS
#VITE_WEBHOOK_RESERVAS=hhttps://tauvln.easypanel.host/webhook/4a9f1aaa-f97d-4dd5-be78-a0c36b504e45

VITE_WEBHOOK_RESERVAS=https://tauvln.easypanel.host/webhook/142ff330-10f8-4f23-980d-ec1900c98a9a